<div class="flex flex-col items-center mb-8">
  <p class="mt-4 text-green-dark mb-2">Like what you're seeing here?</p>

  <form action="https://www.getdrip.com/forms/178561262/submissions"
        method="post"
        data-drip-embedded-form="178561262"
        class="mt-4 flex flex-col w-48">
    <input type="email"
            id="drip-email"
            name="fields[email]"
            placeholder="you@yourdomain.com"
            class="p-2 border mb-1" />
    <button type="submit"
            value="Sign Up"
            data-drip-attribute="sign-up-button"
            class="p-2 bg-green hover:bg-green-dark text-green-lightest">
      Sign Up
    </button>
  </form>

  <small class="text-grey-dark text-center mt-4 text-xs w-2/3">Tips on coding, design and running a software business</small>
</div>
