<div class="flex flex-col items-center">
  <a href="/" class="mb-2">
    <img src="/assets/joey.jpg" class="rounded-full hover:shadow-md h-32 w-32 border border-solid" />
  </a>
  <h1 class="font-normal mb-1 text-4xl sm:text-2xl">
    Hi there, I'm <a href="/about" class="no-underline hover:underline text-orange-dark hover:text-orange font-semibold">Joey</a>.
  </h1>
  <h2 class="font-normal mb-4 text-grey text-2xl sm:text-xl">I build stuff for the web.</h2>

  {% include icon-links.html %}
  {% include header-menu.html %}
</div>
