<ul class="list-reset text-center whitespace-no-wrap uppercase font-semibold mb-4">
  <li class="mb-1 inline">
    <a href="/about" class="link no-underline hover:underline">About</a>
  </li>
  <li class="inline">&middot;</li>
  <li class="mb-1 inline">
    <a href="/posts" class="link no-underline hover:underline">Posts</a>
  </li>
  <li class="inline">&middot;</li>
  <li class="inline">
    <a href="/newsletter" class="link no-underline hover:underline">Newsletter</a>
  </li>
</ul>

<ul class="list-reset text-center whitespace-no-wrap uppercase font-semibold">
  <li class="mb-1 inline">
    <a href="/resume" class="link no-underline hover:underline">Resume</a>
  </li>
  <li class="inline">&middot;</li>
  <li class="inline">
    <a href="/hire-me" class="link no-underline hover:underline">Hire Me</a>
  </li>
</ul>
