<ul class="list-reset text-2xl text-center">
  <li class="mb-1">
    <a href="/about" class="no-underline hover:underline text-orange-dark hover:text-orange">
      About
    </a>
  </li>
  <li class="mb-1">
    <a href="/posts" class="no-underline hover:underline text-orange-dark hover:text-orange">
      Posts
    </a>
  </li>
  <li class="mb-1">
    <a href="/resume" class="no-underline hover:underline text-orange-dark hover:text-orange">
      Resume
    </a>
  </li>
  <li>
    <a href="/newsletter" class="no-underline hover:underline text-orange-dark hover:text-orange">
      Newsletter
    </a>
  </li>
  <li>
    <a href="/hire-me" class="no-underline hover:underline text-orange-dark hover:text-orange">
      Hire Me
    </a>
  </li>
</ul>
