<ul class="list-reset text-2xl text-center whitespace-no-wrap">
  <li class="mb-1 inline">
    <a href="/about" class="no-underline hover:underline text-blue-dark hover:text-blue">About</a>
  </li>
  <li class="inline">&middot;</li>
  <li class="mb-1 inline">
    <a href="/posts" class="no-underline hover:underline text-blue-dark hover:text-blue">Posts</a>
  </li>
  <li class="inline">&middot;</li>
  <li class="inline">
    <a href="/newsletter" class="no-underline hover:underline text-blue-dark hover:text-blue">Newsletter</a>
  </li>
</ul>

<ul class="list-reset text-2xl text-center">
  <li class="mb-1 inline">
    <a href="/resume" class="no-underline hover:underline text-blue-dark hover:text-blue">Resume</a>
  </li>
  <li class="inline">&middot;</li>
  <li class="inline">
    <a href="/hire-me" class="no-underline hover:underline text-blue-dark hover:text-blue">Hire Me</a>
  </li>
</ul>
