<ul class="flex items-center list-reset text-blue-dark">
  <li class="mr-2">
    <a href="/about" class="no-underline hover:underline text-blue-dark
      hover:text-blue">
      About
    </a>
  </li>
  <li class="mr-2">&middot;</li>
  <li class="mr-2">
    <a href="/posts" class="no-underline hover:underline text-blue-dark
      hover:text-blue">
      Posts
    </a>
  </li>
  <li class="mr-2">&middot;</li>
  <li class="mr-2">
    <a href="/newsletter" class="no-underline hover:underline text-blue-dark
      hover:text-blue">
      Newsletter
    </a>
  </li>
  <li class="mr-2">&middot;</li>
  <li>
    <a href="/hire-me" class="no-underline hover:underline text-blue-dark
      hover:text-blue">
      Hire Me
    </a>
  </li>
</ul>
