<ul class="flex items-center list-reset text-grey-dark font-semibold">
  <li class="mr-2">
    <a href="/about" class="link no-underline hover:underline">
      About
    </a>
  </li>
  <li class="mr-2">&middot;</li>
  <li class="mr-2">
    <a href="/posts" class="link no-underline hover:underline">
      Posts
    </a>
  </li>
  <li class="mr-2">&middot;</li>
  <li class="mr-2">
    <a href="/newsletter" class="link no-underline hover:underline">
      Newsletter
    </a>
  </li>
  <li class="mr-2">&middot;</li>
  <li>
    <a href="/hire-me" class="link no-underline hover:underline">
      Hire Me
    </a>
  </li>
</ul>
