<p class="w-2/3 text-center mt-6 font-thin">Want an insider's look at running a small software business?</p>

<form action="https://www.getdrip.com/forms/178561262/submissions"
  method="post"
  data-drip-embedded-form="178561262"
  class="flex flex-col mt-4 w-1/2">
  <input type="email"
          id="drip-email"
          name="fields[email]"
          placeholder="you@yourdomain.com"
          class="border p-2 mb-1" />
  <input type="submit"
          value="Sign Up"
          data-drip-attribute="sign-up-button"
          class="border p-2 bg-green text-green-lightest" />
</form>
