/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

body.debug * {
  outline: 1px solid red !important;
}

.post p, .post h2, .post h3, .post h4, .post h5, .post h6, .post .highlighter-rouge, .post ul, .post ol {
  @apply mb-6;
}

.post h2, .post h3, .post h4, .post h5, .post h6 {
  @apply font-medium mb-6 break-words;
}

.post h6 {
  @apply text-base;
}

.post .highlighter-rouge .highlight {
  @apply p-2 overflow-x-scroll;
}

.post a {
  @apply text-orange-dark no-underline;
}

.post a:hover {
  @apply text-orange;
}

.post code.highlighter-rouge {
  @apply bg-grey-light font-mono px-1 break-words;
}

.post iframe {
  @apply mb-6;
}

.tldr p {
  @apply mb-2;
}

.main:after {
  content: "";
  background-image: url("/assets/abbott-costello.jpg");
  z-index: -1;
  @apply bg-no-repeat bg-cover bg-grey-light absolute min-h-screen w-full border-b-6 opacity-10;
}

.antenna-l, .antenna-r {
  @apply h-16 w-4 bg-grey rounded-t-lg;
}

.antenna-l {
  transform: skew(45deg);
}

.antenna-r {
  transform: skew(-45deg);
}

mark {
  @apply bg-yellow-lighter;
}

@import "responsive-video.css";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.bordered-image {
  @apply pt-1 pl-1 pr-1 bg-white border border-solid mr-2;
}

.link-orange {
  @apply text-orange-dark;
}

.link-orange:hover {
  @apply text-orange;
}
