<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head.html %}
  </head>
  <body class="font-sans bg-grey-lighter">
    <div class="h-1 bg-orange-dark"></div>
    <div class="flex flex-col bg-grey-lightest">
      <footer class="p-4 border-t bg-grey-lighter pin-b pin-x">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
